body {
    box-sizing: border-box;
    background-color: white;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

body footer {
    width: 100%;
}

/* ----- HEADER -----  */
header {
    background-color: #2c3e50;
    box-sizing: border-box;
    display: inline-flex;
    padding: 2.5em 0 2em 8em;
    position: fixed;
    width: 100%;
}

header > * {
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

header > a {
    color: white;
    font-size: 1.9em;
    text-decoration: none;
}

header > nav {
    font-size: 1em;
    font-weight: bolder;
    margin-left: 20em;
    position: relative;
    text-align: center;
    width: 500px;
}

header > nav > a {
    color: white;
    padding: 1.5em;
    text-decoration: none;
    size: 2ex;
}

header > nav > a:hover {
    color:  #18bc9c;
}

/* ----- SECTION BOOTSTRAP ----- */
main > section#bootstrap {
    background-color: #18bc9c;
    color: white;
    text-align: center;
    padding: 9em 0 4em 0;
}

main > #bootstrap > img {
    padding-top: 4em;
}

main > section#bootstrap > h1 {
    font-size: 8ex;
}

main > section#bootstrap > p {
    color:white;
    font-size: 3.5ex;
}

/* ----- SECION PORTAFOLIO ----- */
main > section#portafolio {
    background-color: white;
    box-sizing: border-box;
    padding: 2em 0 4em 0;
    text-align: center;
}

main #portafolio > h2 {
    color: #2c3e50;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
}

main > #portafolio > .productos > img {
    height: 100%;
    padding: 1em;
    width: 26%;  
}

/* ----- SECTION ABOUT ----- */
main #about {
    background-color: #18bc9c;
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 2em 0 7em 0;
    text-align: center;
    width: 100%;
}

main #about > h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding: 0;
}

main #about div p {
    display: inline-block;
    font-size: 1.2em;
    line-height: 170%;
    margin: 0;
    padding: 2em 0 1.5em 0;
    text-align: left;
    width: 25%;
}

main #about div p:first-child {
    padding-right: .5em;
}

main #about div a {
    border: 2px solid white;
    border-radius: 5px;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    margin-left: 550px;
    padding: 1em .8em 1em .8em;
    width: 10em;
}

/* ----- CONTACT -----*/
main #contact {
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 2em 0 7em 0;
    text-align: center;
    width: 100%;
}

main > #contact > h2 {
    color: #2c3e50;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding: 0;
    text-align: center;
    width: 100%;
}

main > #contact > form {
    box-sizing: content-box;
    display: block;
    padding: 1em 2em 2em 7em;
    margin: 0 13% 0 13%;
    width: 60%;
}

main > #contact > form > input {
    border: none;
    display: block;
    font-size: 1.5em;
    padding: .5em 1em .5em 0;
    margin: 1.5em 0 1.5em 0;
    width: 70%;
}

main > #contact > form > input.single-text-area {
    border-bottom: 1px solid #364555;
}

main > #contact > form > input#text-space {
    border-bottom: 1px solid #364555;
    display: block;
    height: 6em;
    padding: 0 0 3em 0;
    text-align: start;
    width: 70%;
}

main > #contact > form > button {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #18bc9c;
    border: none;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    padding: 1.3em 1.7em;
    display: block;
}

/* ----- INFO ----- */
main #info {
    background-color: #2c3e50;
    box-sizing: border-box;
    display: inline-flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 2em;
    padding-right: 2em;
    width: 100%;
}

main #info > #social-Media, #address, #freelancer {
    color: white;
    display: relative;
    text-align: center;
    text-decoration-line: none;
    width: 33%;
}

main > #info > * > p {
    font-family: 'Lato', sans-serif;
}

#info #social-Media a i {
    align-content: center;
    border: 1.5px solid white;
    border-radius: 100%;
    color: white;
    height: .3em;
    margin-right: 0.5em;
    text-decoration: none;
    padding: 1em;
    width: .3em;
}

info > #freelancer > p > a {  
    border: 1px solid white;
    text-decoration: none;
    color: #18bc9c;
}

#info #social-Media a i:hover {
    background-color: white;
    border: 1.5px solid white;
    border-radius: 100%;
    color: #2c3e50;
    height: .3em;
    margin-right: 0.5em;
    text-decoration: none;
    padding: 1em;
    width: .3em;
}

/* ----- FOOTER ----- */
footer {
    background-color: #212529;
    color: white;
    margin: 0;
    padding-top:1.5ex;
    padding-bottom: 1.5ex;
    opacity: 1;
}

body > footer > p {
    color: white;
    font-size: .9em;
    font-weight: lighter;
    padding-left: 40%;
    text-align: center;
    width: 231px;
}